Makefile
*.o
moc_*
*.pro.user
*.so
*.ts
*.qm
*.list
*.qch
/html/
/installroot/
/RPMS/
/demo-app/qrc_share-demo.cpp
/demo-app/transfer-demo
/demo-app/demoappadaptor.*
/share/plugin/plugin.moc
/share/sailfish-share/sailfish-share
