Makefile
*.o
moc_*
*.pro.user
*.so
*.ts
*.qm
*.list
*.qch
doc/html/
/installroot/
/RPMS/
/demo-app/qrc_share-demo.cpp
/demo-app/transfer-demo
/demo-app/demoappadaptor.*
/share/plugin/*.moc
/share/sailfish-share/sailfish-share
/share/update-cache/sailfish-share-update-cache
