[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Transfer Demo
Exec=/usr/bin/transfer-demo
Icon=icon-launcher-component-gallery
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
